@using BookTheRoom.Core.Entities
@model Hotel

<div class="container">

    <h1 class="my-4">
        @Model.Name
    </h1>
    <br>
    <a type="button" class="btn btn-primary" asp-controller="Hotel" asp-action="Hotels">
        <i class="fa-solid fa-arrow-right fa-rotate-180"></i>
        Back       
    </a>
    <br>
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.PreviewURL" width="1000" height="900" style="object-fit: cover;" alt="">
        </div>
        
        <div class="col-md-4">
            <h3 class="my-3">@Model.Name</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">Location</h3>
            <ul>
                <li>@Model.Address.Country</li>
                <li>@Model.Address.City</li>
                <li>@Model.Address.StreetOrDistrict/@Model.Address.Index</li>
            </ul>
            <a type="submit" class="btn btn-primary" asp-controller="Room" asp-action="Rooms" asp-route-hotelId="@Model.Id">View Rooms</a>           
        </div>

    </div>

    <h3 class="my-4">More Images</h3>

    <div class="row">
        
        @foreach(var item in Model.ImagesURL){
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="@item" width="500" height="300" alt="">
                </a>
        </div>
        }
        
    </div>
</div>